
<div class="col-sm-9">
  <table class="table">
    <thead>
      <th class="col-sm-4"></th>
      <th class="col-sm-1">1</th>
      <th class="col-sm-1">X</th>
      <th class="col-sm-1">2</th>
      <th class="col-sm-1">1X</th>
      <th class="col-sm-1">X2</th>
      <th class="col-sm-1">12</th>
    </thead>
    <tbody>
      <tr ng-repeat="game in view.allGames">
        <td>{{game.HomeTeam}} : {{game.AwayTeam}}</td>
        <td ng-repeat="tip in [0,1,2,3,4,5]" ng-class="{success : offer.isSelected}" 
         ng-init="offer = view.findOffer(game, tip)"
         ng-click="view.selectOffer(game, offer)">
          {{offer ? offer.Coefficient : "--"}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-sm-3">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="bet in view.ticket.Bets">
      {{bet.HomeTeam}} : {{bet.AwayTeam}}
      <span class="badge">{{bet.Coefficient}}</span>
    </li>
  </ul>
  <form class="form-horizontal" name="ticketForm" ng-class="{'has-error': ticketForm.bet.$invalid}">
    <label for="bet" class="control-label">Iznos</label>
    <br>
    <div class="col-sm-8">
      <input name="bet" type="number" class="form-control" 
      ng-model="view.ticket.BetValue" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
    </div>
    <div class="col-sm-4">
      <input type="submit" class="btn btn-primary" value="Uplati" 
      ng-click="view.submitForm()" ng-disabled="ticketForm.bet.$invalid"
      />
    </div>
  </form>
  <div ng-show="ticketForm.bet.$valid" class="text-left">
    Mogući dobitak: {{view.totalCoefficient * view.ticket.BetValue | number : 2}}
  </div>
</div>